.centered-div {
    /* display: flex; */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%;
    height: 100vh; /* Adjust as needed */
    background-color: lightgray;
  }